<ul>
  <li>
    XRP price:
    <%= number_to_currency(@coin_presenter.ripple_price) %>
  </li>
  <li>
    BTC price:
    <%= number_to_currency(@coin_presenter.bitcoin_price) %>
  </li>
  <li>
    XLM price:
    <%= number_to_currency(@coin_presenter.stellar_price) %>
  </li>
  <li>
    ETH price:
    <%= number_to_currency(@coin_presenter.ethereum_price) %>
  </li>
</ul>

<% if @cart.contents.empty? %>
    <h3>There is nothing in your cart</h3>
<% else %>
  <h2>Your cart contains:</h2>
  <% @products.each do |product| %>
    <%= product.name %> <%= number_to_currency(product.price) %>
  <% end %>
  <p>Total:
    <%= number_to_currency(@cart.total_price) %></p>
  <%= form_tag purchases_path do %>
  <%= hidden_field_tag "cost", @cart.total_price %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>" data-description="A Map Which Cannot Be Believed" data-amount="<%= @cart.total_price * 100 %>" data-locale="auto"></script>

  <% end %>

<% end %>
